@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: AlaskaCondensedBold;
    src: url(./font/Alaska-ExpandedBold.woff2);
}

.FONTCONDENSEND {
    font-family: AlaskaCondensedBold;
}

.transitionAll {
    transition: all ease-in-out 900ms;
}

.popUpBtnOpen {
    bottom: 0;
    transition: all ease-in-out 1s;
}